
.main{
    background-color: rgba(#000000, 100%);
    height: 100vh;
    width: 100vw;

    display: flex;
    

    &__navigation{
        // flex-grow: 1;
        border-right: solid .2rem #242731;
        width: 20%;
    }

    &__todos{
        // flex-grow: 5;
        // width: 100%;
        width: 80%;
    }
}