.para{
    color: white;
    font-size: 2rem;
    border-bottom: .2rem solid #242731;
    // height: 6%;
    padding: 2rem 0 1rem 4rem;
    text-decoration: underline solid .2rem rgba(55, 114, 255, 1);
}

.section__container{
    display: flex;
    // height: 91.5%;
    // width: 100%;
    overflow: hidden;
    height: 90%;

    &_todos{
        display: flex;
        color: white;
        // flex-grow: 4;
        width: 80%;

        z-index: 100;
        // background-color: pink;
        overflow-x: scroll;
        
    }
    &_eachList{
        // overflow-x: scroll;
    }
    
    &_edit{
        color: white;
        // flex-grow: 1;
        border-left: .2rem solid #242731;
        width: 20%;
        // height: 92vh;
    }
}