
.listcontainer{
    margin: 1rem;

    height: 5rem;
    width: 28.6rem;
    background-color: rgba(36, 39, 49, 1);
    border-radius: 1rem;
    position: relative;

    
    &__addTodo{
        height: 5rem;
        width: 28.6rem;
        background-color: rgba(36, 39, 49, 1);
        border-radius: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: rgba(108, 108, 108, 1);

        &:focus{
            outline: none;
        }
    }

    &__addIcon{
        
        position: absolute;
        right: 0rem;
        top: 1rem;
        width: 3rem;
        transition: all .2s;
        &:hover{
            background-color: aliceblue;
        }
        

        // background-image: linear-gradient(to right, white, white);
        // -webkit-background-clip: text;
        // color: transparent;
        // background-color: white;

    }
}