.card{
    width: 28.6rem;
    height: 11.6rem;
    background-color: rgba(25, 27, 32, 1);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: .45rem;
    position: relative;

    &__addIcon{
        
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3rem;
    }

    &__title{
        background-color: transparent;
        color: rgba(110, 110, 110, 1);
        font-size: 1.6rem;
        font-weight: 600;

        &:focus{
            outline: none;
        }
    }

    &__description{
        background-color: transparent;
        color: rgba(128, 129, 145, 1);
        font-size: 1.4rem;
        font-weight: 200;
        height: 7rem;
        width: 80%;
        margin: 1rem;
        &:focus{
            outline: none;
        }
    }
}