.card{
    width: 28.6rem;
    height: 11.6rem;
    background-color: rgba(25, 27, 32, 1);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: .45rem;
    position: relative;
    // border-left: 3px solid rebeccapurple;
    &::before{
        
        content: '';
        position: absolute;
        border-radius: 10rem;
        top: 5%;
        bottom: 5%;
        left: 0;
        height: 90%;
        width: 3px;
        background-color: rgba(0, 10, 255, 1);
        transform: scaleY(0);
        transition: transform .2s;
    }
    &:hover::before{
        transform: scaleY(1);
        
    }

    &__flexedheader{
        display: flex;
        justify-content: baseline;
    }

    &__addIcon{
        
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3rem;
        transition: all .2s;
        &:hover{
            background-color: aliceblue;
        }
    }
    &__editIcon{
        
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        transition: all .2s;
        &:hover{
            transform: scale(1.4);
        }
    }

    &__title{
        background-color: transparent;
        color: rgba(110, 110, 110, 1);
        font-size: 2rem;
        font-weight: 600;

        &:focus{
            outline: none;
        }
    }

    &__description{
        background-color: transparent;
        color: rgba(128, 129, 145, 1);
        font-size: 1.4rem;
        font-weight: 200;
        height: 7rem;
        width: 80%;
        margin: 1rem;
        overflow-wrap: break-word;
        
        &:focus{
            outline: none;
        }
    }
}